*{
    padding: 0px;
    margin: 0px;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    background-color: #373737;
    color:#ccc;
  }
  
  
  .board-row{
      display: table;
  }
  
  
  .square {
    cursor: pointer;
    float: left;
    font-size: 40px;
    font-weight: bold;
    line-height: 80px;
    height: 80px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 80px;
  }
  .square:hover{
      background-color: #272727;
  }
  .square:nth-child(1), .square:nth-child(2){
      border-right: 4px solid #999;
  }
  .board-row:nth-child(1), .board-row:nth-child(2){
      border-bottom: 4px solid #999;
  }
  
  .stop .mainBoard{
      background-color: #272727;
  }
  .stop .status{
      color: #02b319;
  }
  .game-board{
    margin-top: 150px;
    text-align: center;

  }
  .mainBoard{
      max-width: 250px;
      margin: auto;
  }
  .status{
      padding: 50px 0px;
      font-size: 40px;
  }
  .btnReset{
      padding: 20px 0px;
      cursor: pointer;
      width: 250px;
      margin: auto;
  }
  .btnReset:hover{
      background-color: #272727;
  }